html {
    height: 100%;
}
body {
    font-family: sans-serif;
}
#Logo {
    float:left;
    position:relative;
    left: 40%;
    bottom: 10px;
}
nav {
  background-color:#2b2b31;
  overflow: hidden;
  height: 50px;
  width: 100%;
}
/*.top-bar {
  background-color:#2b2b31;
  overflow: hidden;
}*/
.top-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}
.top-bar a:hover {
    background-color: #ddd;
    color:black;
}
nav ul {
    float: right;
    height: 50px;
    margin: auto;
    overflow: hidden;
    list-style-type: none;
    text-align: justify;
    display: block;

}
nav img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -90px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    padding: 1.5px;
    margin: 1.5px;
}
/*.top-logo a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}*/
nav a:hover {
    background-color: #ddd;
    color:black;
}
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}
.hidden {
    display: none;
    opacity: 0%;
}
#l {
    text-align: center;
}

