nav {
  background-color:#2b2b31;
  overflow: hidden;
  height: 50px;
  width: 100%;
}
/*.top-bar {
  background-color:#2b2b31;
  overflow: hidden;
}*/
.top-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}
.top-bar a:hover {
    background-color: #ddd;
    color:black;
}
nav ul {
    float: right;
    height: 50px;
    margin: auto;
    overflow: hidden;
    list-style-type: none;
    text-align: justify;
    display: block;

}
nav img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -90px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    padding: 1.5px;
    margin: 1.5px;
}
/*.top-logo a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}*/
nav a:hover {
    background-color: #ddd;
    color:black;
}
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}
.hidden {
    display: none;
    opacity: 0%;
}
#l {
    text-align: center;
}

html {
    height: 100%;
}
body {
    font-family: sans-serif;
    background: #f2eee3;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box h5 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size:15px;
}
.login-box a {
    color: #03e9f4;
    font-size:15px;
    cursor: pointer;
}
.login-box .user-box {
    position: relative;
}
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:#fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
}
.login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px #03e9f4.
                0 0 30px #03e9f4,
                0 0 70px #03e9f4,
                0 0 120px #03e9f4;
}
.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    40%,100% {
        left: 100%;
    }
}
.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width 2px;
    height 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    40%,100% {
        top: 100%;
    }
}
.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width 100%;
    height 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    40%,100% {
        right: 100%;
    }
}
.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width 2px;
    height 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    40%,100% {
        bottom: 100%;
    }
}
button {
    cursor: pointer;
}
